WSDL/WebContent/wsdl/UserLogin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://client.owen.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://client.owen.com" xmlns:intf="http://client.owen.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://client.owen.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="userlogin">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="userloginResponse">
    <complexType>
     <sequence>
      <element name="userloginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="userloginRequest">

      <wsdl:part element="impl:userlogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="userloginResponse">

      <wsdl:part element="impl:userloginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserLogin">

      <wsdl:operation name="userlogin">

         <wsdl:input message="impl:userloginRequest" name="userloginRequest">

       </wsdl:input>

         <wsdl:output message="impl:userloginResponse" name="userloginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserLoginSoapBinding" type="impl:UserLogin">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="userlogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="userloginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="userloginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserLoginService">

      <wsdl:port binding="impl:UserLoginSoapBinding" name="UserLogin">

         <wsdlsoap:address location="http://tempuri.org/WSDL/services/UserLogin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
